.container {
  padding: 96px 0 126px;

  @media only screen and (max-width: 600px) {
    padding: 62px 0 86px;
  }
}

.box {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
