.item {
  border-bottom: 1px solid #ddd;
}

.header {
  display: flex;
  padding: 22px 22px 22px 0px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  cursor: pointer;

  &:hover,
  &:focus {
    & .question {
      color: var(--color-red);
    }
  }

  @media only screen and (max-width: 480px) {
    font-size: 14px;
    padding: 22px 8px 22px 0px;
  }

  @media only screen and (max-width: 360px) {
    font-size: 12px;
  }
}

.question {
  color: var(--color-blue-shade-1);
  transition: all 0.2s;
}

.icon {
  transition: all 0.3s;
  & path {
    transition: all 0.3s;
  }

  &__open {
    transform: rotate(180deg);
    & path {
      stroke: var(--color-red);
    }
  }
}

.answer {
  line-height: 1.7;
  transition: all 0.3s;
  max-height: 1000px;
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 16px;

  & > p {
    overflow: hidden;

    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 360px) {
      font-size: 14px;
    }
  }
}

.open {
  grid-template-rows: 1fr;
  padding: 16px 16px 24px;
}
