@import "../../scss/animations.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 32px;
  animation: fadeFromLeft 0.8s;

  @media only screen and (max-width: 1200px) {
    max-width: 800px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

.heading {
  font-size: 48px;
  font-weight: 500;
  color: var(--color-blue-shade-1);
  line-height: 1.1;

  @media only screen and (max-width: 600px) {
    font-size: 42px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 24px;

  @media only screen and (max-width: 360px) {
    flex-direction: column;
    gap: 12px;
    width: 100%;

    & button {
      width: 100%;
      justify-content: center;
    }
  }
}
