@import "../../scss//animations.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: var(--color-white);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 36px;
  text-align: center;
  animation: fadeInOpacity 0.6s;

  @media only screen and (max-width: 480px) {
    font-size: 28px;
    margin-bottom: 32px;
  }

  @media only screen and (max-width: 400px) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.row {
  display: flex;
  align-items: start;
  gap: 18px;
  width: 100%;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  & button {
    animation: fadeFromRight 1s;

    @media only screen and (max-width: 480px) {
      justify-content: center;
    }
  }
}

.container {
  position: relative;
  flex-grow: 1;
  z-index: 30;

  animation: fadeFromLeft 0.8s;
}

.box {
  position: relative;
  overflow: hidden;
}

.icon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(200%, -50%);
  transition: all 0.2s;
  z-index: 40;

  &__active {
    transform: translate(0%, -50%);
  }
}

.input {
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  padding: 14px 32px;
  border-radius: 5px;
  border: none;
  transition: all 0.15s;
  border: 2px solid transparent;
  z-index: 30;

  &:focus {
    border: 2px solid var(--color-red);
  }

  &::placeholder {
    color: #ccc;
  }

  &__error {
    border: 2px solid var(--color-red);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
  z-index: 20;
  transition: all 0.3s;
  padding: 6px 12px;
  font-size: 10px;
  letter-spacing: 0.4px;
  font-style: italic;
  font-weight: 500;
  width: 100%;
  color: var(--color-white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media only screen and (max-width: 480px) {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    padding: 0 12px;

    & span {
      overflow: hidden;
    }
  }

  &__active {
    transform: translateY(100%);

    @media only screen and (max-width: 480px) {
      transform: translateY(0%);
      grid-template-rows: 1fr;
      padding: 6px 12px;
    }
  }
}
