@import "../../scss/animations.scss";

.counter {
  margin-bottom: 36px;
  font-size: 14px;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 4.6px;
  animation: fadeFromBottom 0.8s;

  @media only screen and (max-width: 480px) {
    margin-bottom: 16px;
    font-size: 12px;
  }
}
