@import "../../scss/animations.scss";

.list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 36px;
  align-items: center;
  justify-content: center;
  padding-top: 48px;

  & > li:first-child {
    transform: translateY(-10%);
    animation: fadeExtensionLg1 1.2s;

    @media only screen and (max-width: 1060px) {
      transform: none;
      animation: fadeFromLeft 1s;
    }
  }

  & > li:nth-child(2) {
    animation: fadeExtensionLg2 1s;

    @media only screen and (max-width: 1060px) {
      transform: none;
      animation: fadeFromRight 1s;
    }
  }

  & > li:last-child {
    transform: translateY(10%);
    animation: fadeExtensionLg3 0.8s;

    @media only screen and (max-width: 1060px) {
      animation: fadeFromBottom 1s;
      transform: none;
      grid-column: 1/-1;
      width: min-content;
      justify-self: center;
    }
  }

  @media only screen and (max-width: 1060px) {
    padding-top: 0;
    grid-template-columns: min-content min-content;
  }

  @media only screen and (max-width: 640px) {
    grid-template-columns: min-content;
  }
}
