@import "../../scss/animations.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadeFromTop 1s;
}

.sticky {
  position: fixed;
  z-index: 500;
  box-shadow: 0px 4px 24px 0px rgba(145, 148, 161, 0.2);
  background-color: rgba(#f4f4f6, 0.2);
  backdrop-filter: blur(4px);

  & .container {
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 32px 62px 32px 18px;

  @media only screen and (max-width: 900px) {
    padding: 32px;
  }

  &__open {
    & > svg > g {
      & > path:first-child {
        fill: var(--color-white);
      }
      & > path:last-child {
        fill: rgba(#252b46, 0.9);
      }

      & > circle {
        fill: var(--color-white);
      }
    }
  }
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(#252b46, 0.9);
}

.modalBtn {
  cursor: pointer;

  &:hover,
  &:focus {
    svg > g > path:first-child {
      transition: all 0.2s;
      fill: var(--color-red);
    }
  }
}
