@import "../../scss/animations.scss";

.container {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  align-items: start;
  column-gap: 124px;

  @media only screen and (max-width: 1060px) {
    grid-template-columns: 1fr;
  }
}

.box {
  justify-self: end;
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 430px;

  @media only screen and (max-width: 1060px) {
    justify-content: center;
  }

  @media only screen and (max-width: 480px) {
    height: 340px;
  }

  & svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    transition: all 0.2s;
    animation: fadeInOpacity 0.8s;

    @media only screen and (max-width: 1200px) {
      left: 50%;
      transform: translateX(-50%);
      animation: fadeInBasic 0.8s;
    }

    @media only screen and (max-width: 720px) {
      transform: translateX(-50%) scale(0.9);
    }

    @media only screen and (max-width: 540px) {
      transform: translateX(-50%) scale(0.8);
    }

    @media only screen and (max-width: 480px) {
      transform: translate(-50%, -10%) scale(0.7);
    }
    @media only screen and (max-width: 400px) {
      transform: translate(-50%, -10%) scale(0.6);
    }
    @media only screen and (max-width: 340px) {
      transform: translate(-50%, -10%) scale(0.55);
    }
  }
}

.background {
  position: absolute;
  bottom: 0%;
  right: 10%;
  z-index: 10;
  width: 100vw;
  height: 342px;
  border-bottom-right-radius: 12000px;
  border-top-right-radius: 12000px;
  background-color: var(--color-blue-tint-1);
  transition: all 0.2s;
  animation: scaleHorizontalLeft 0.8s;

  @media only screen and (max-width: 1060px) {
    bottom: 6%;
    right: 35%;
    height: 322px;
  }

  @media only screen and (max-width: 760px) {
    right: 20%;
  }

  @media only screen and (max-width: 720px) {
    height: 302px;
  }

  @media only screen and (max-width: 540px) {
    bottom: 14%;
    right: 10%;
    height: 262px;
  }

  @media only screen and (max-width: 480px) {
    bottom: 10%;
    right: 10%;
    height: 222px;
  }

  @media only screen and (max-width: 400px) {
    bottom: 16%;
    right: 10%;
    height: 202px;
  }
}

.content {
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 52px;
  animation: fadeFromRight 0.8s;

  @media only screen and (max-width: 1060px) {
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  @media only screen and (max-width: 720px) {
    padding-top: 0;
  }
}

.textCol {
  margin-bottom: 32px;
}
