.container {
  display: flex;
  align-items: center;
  gap: 42px;
}

.link {
  & svg path {
    transition: all 0.25s;
  }

  &:hover,
  &:focus {
    & svg path {
      fill: var(--color-red);
    }
  }
}
