.container {
  display: flex;
  align-items: center;
  gap: 64px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    gap: 32px;
  }
}

.logo {
  & path {
    fill: var(--color-white);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 52px;

  @media only screen and (max-width: 400px) {
    flex-direction: column;
    gap: 32px;
  }
}
