// --- Variables ---

:root {
  --color-blue-tint-1: #5368df;
  --color-blue-shade-1: #252b46;
  --color-gray-tint-1: #9194a1;
  --color-gray-tint-2: #f4f4f6;
  --color-gray-shade-1: #2b2c30;
  --color-red: #fa5757;
  --color-white: #ffffff;
}

// --- Minimalistic CSS Reset (No need for bigger one in such a small project) ---

html {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-gray-tint-1);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  user-select: none;
}

*:focus {
  outline: none;
}

canvas {
  display: none;
}
