.button {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 14px 32px;
  transition: all 0.2s;
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
  user-select: none;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: 500;

  &__red {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
    box-shadow: 0px 6px 12px 0px rgba(250, 87, 87, 0.2);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--color-red);
    }
  }
  &__blue {
    color: var(--color-white);
    background-color: var(--color-blue-tint-1);
    border-color: var(--color-blue-tint-1);
    box-shadow: 0px 6px 12px 0px rgba(83, 104, 223, 0.2);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--color-blue-tint-1);
    }
  }
  &__gray {
    color: var(--color-gray-shade-1);
    background-color: var(--color-gray-tint-2);
    border-color: var(--color-gray-tint-2);
    box-shadow: 0px 6px 12px 0px rgba(145, 148, 161, 0.2);

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: var(--color-gray-tint-1);
      color: var(--color-gray-shade-1);
    }
  }
}
