.button {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  transition: all 0.2s;
  cursor: pointer;

  @media only screen and (max-width: 480px) {
    font-size: 12px;
  }

  &__red {
    border-color: var(--color-red);
    background-color: var(--color-red);
    box-shadow: 0px 6px 12px 0px rgba(250, 87, 87, 0.2);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-red);
    }
  }
  &__blue {
    border-color: var(--color-blue-tint-1);
    background-color: var(--color-blue-tint-1);
    box-shadow: 0px 6px 12px 0px rgba(83, 104, 223, 0.2);
    color: var(--color-white);

    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-blue-tint-1);
    }
  }
  &__gray {
    border-color: var(--color-gray-tint-2);
    background-color: var(--color-gray-tint-2);
    box-shadow: 0px 6px 12px 0px rgba(145, 148, 161, 0.2);
    color: var(--color-gray-shade-1);

    &:hover,
    &:focus {
      border-color: var(--color-gray-tint-1);
      background-color: var(--color-white);
      color: var(--color-gray-shade-1);
    }
  }

  &__tall {
    padding: 16px 24px;

    @media only screen and (max-width: 480px) {
      padding: 16px 20px;
    }

    @media only screen and (max-width: 400px) {
      padding: 16px 16px;
    }
  }

  &__wide {
    padding: 12px 32px;

    @media only screen and (max-width: 480px) {
      padding: 12px 24px;
    }

    @media only screen and (max-width: 400px) {
      padding: 12px 20px;
    }
  }
}
